@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
font: 100%/1.4 Verdana, Arial, Jazz LET, fantasy;}
.homePage {
	background: #21330D;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #50633B;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #ADB8A2;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #ADB8A2;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #7D8E6B;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #392311;
}
a:visited {
     color: #5E2F42;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
